*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  background-color: rgba(184, 215, 58, 0.84);
}
form{
  padding: 20px;
  border: 2px solid black;
  
}


.box
{
  padding: 10px;
  border: 1px solid grey;
  text-align: center;
}
.box > p
{
  padding: 10px;
  font-size: 1.2em;
}
